[data-collapsible-content] {
  display: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: max-height, opacity;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
