[data-collapsible-content] {
  display: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: max-height, opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
